@model Plejehjem_Opgave_CSharp.Models.UserAccount

@{
    /**/


    ViewBag.Title = "Login";


}



<style>
    *{
        padding:0px;
        margin:0px;
    }
    .profile-img {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .flex-center {
        display: flex;
        justify-content: center;
    }
    .account-wall {
        padding-left: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 40px 20px 20px 20px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .login-title {
        color: #555;
        font-size: 18px;
        font-weight: 400;
        display: block;
    }

    .need-help {
        margin-top: 10px;
    }

    .container-fluid {
        background-color: #4ca8f4
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row flex-center">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login.title">Login Here</h1>

                <div class="account-wall">
                    <img class="profile-img" src="~/images/avatar.png" />

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group class form-signin ">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10 class input">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group class form-signin">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in
                    </button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="/Account/Register" class="pull-right need-help">Need help? </a><span class="clearfix"></span>


                </div>
            </div>
        </div>
    </div>




}


<!--<div>
    @Html.ActionLink("Back to List", "Index")
</div>-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
